.navbar{
    display: flex;
    justify-content: flex-end;
    /* background: linear-gradient(135deg, #c7b198 0%, #596e79 100%); */
    background-color: #596e79;
    padding: 10px 20px;
    gap: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.navbar button{
    padding: 10px;
    background-attachment: fixed;
    background-color: #f0ece2;
    color: #596e79;
    border: none;
    border-radius: 50px;
    box-shadow: 0 2px 5px #f0ebe0c4;
    cursor: pointer;
}
.out:active .home:active{
    background-color: #fffcf2;
    box-shadow: 0 2px 10px #f0ebe0c4 ;
}
.image{
    display: flex;
    gap: 150px;
    margin-top: 1% ;
    height: 500px;
    background-color: #596e79;
    box-shadow: 10px 10px 10px #596e79c4;
    align-items: center;
    border-radius: 50px;
    width: fit-content;
    justify-content: center;
    margin-inline-start: 20%;
    padding: 20px;
}
.image img{
    border-radius: 50%;
    box-shadow: 0px 0px 50px #dfd3c3;
    margin-left: 15%;
    height: 400px;
    width: 400px;
    object-fit: cover;
}
body{
    background: radial-gradient(circle, #fff,#f0ece2, #dfd3c3);
}
.main{
    color: #dfd3c3;
    font-style: oblique;
}
.data button{
    color: #596e79;
    font-weight: bold;
    background-color: #c7b198;
    padding: 15px 15px 15px 15px;
    border: none;
    box-shadow: 2px 3px 8px #dbc3a7cf;
    border-radius: 10px;
    width: 200px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.data button:hover{
    background-color: rgb(255, 84, 84);
    transform: scale(1.01);
    box-shadow: 2px 3px 15px #fff1e2cd;
    color: white;
}
.data .info{
    color: #ffffff;
    font-style: inherit;
}
#name{
    margin-top: 0%;
    font-size: 4rem;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #dfd3c3;
}
.data button img{
    height: 20px;
    width: 20px;
    background-color: #88827b;
    padding: 5px;
}
.home:hover, .out:hover{
    transform: scale(1.03);
}