.navbar{
    display: flex;
    justify-content: flex-end;
    background-color: #596e79;
    padding: 10px 20px;
    gap: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.navbar button{
    padding: 10px;
    background-attachment: fixed;
    background-color: #f0ece2;
    color: #596e79;
    border: none;
    border-radius: 50px;
    box-shadow: 0 2px 5px #f0ebe0c4;
    cursor: pointer;
}
.out:active .home:active{
    background-color: #fffcf2;
    box-shadow: 0 2px 10px #f0ebe0c4 ;
}
.home:hover, .out:hover{
    transform: scale(1.03);
}
body{
    background: radial-gradient(circle, #fff,#f0ece2, #dfd3c3);
}

#event {
    display: flex;
    background: #596e79;
    align-items: center;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    border-radius: 10px;
    border: 1px solid #1f3f51;
}
#event:hover {
    transform: scale(1.02);
}

#title {
    color: #f0ece2;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    background: #596e79;
}
#date{
    background-color: #f0ece2;
    color: #596e79;
    font-size: 1.5rem;
    font-weight: bold;
    width: 120px;   
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    border-radius: 10px;
    
}
