{%extends "layout.html"%}
{% block title %}
    Log In
{% endblock %}
{% block body%}
    <div class="login">
        <h1>ERROR</h1>
        <form action="/" method="POST">
            <input type="text" name="username" autocomplete="off" autofocus placeholder="Name">
            <input type="password" name="password" autocomplete="off" autofocus placeholder="Password">           
            <button type="submit">Log In</button>
            <a>
                Don't have account? SIGN IN 
            </a>
        </form>
    </div>
{% endblock %}