{% extends "layout.html"%}
{% block title %}
    Log In
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="static\main.css"> 
{% endblock %}
{% block body%}
    {% if msg %}
    <script>
        window.onload = function() {
            alert("{{ msg }}");
        }
    </script>
    {% endif %}
    <div class="navbar">
        <form action="/dashboard">
            <button class="home">Home</button>
        </form>
        <form action="/logout">
            <button class="out">Log Out</button>
        </form>
    </div>
    <div class="image">
        <div>
            <img src="static\images\i{{user.number}}.jpg" alt="profile image">
        </div>
        <div class="data">
            <h1 id="name">{{ user.name }}</h1>
            <h2 class="main">Email:
            {% if user.gender== "female" %}
                <h2 class="info">{{ user.email }} . she/her </h2>
                {% elif user.gender == "male" %}
                <h2 class="info">{{ user.email }} . he/him</h2>
                {% else %}
                <h2 class="info">{{ user.email }}</h2>
            {% endif %}
            </h2>
            <h2 class="main">Date Of Birth: <h2 class="info">{{ user.dob }}</h2></h2>
            <!-- <h2 class="info">{{user.dob}}</h2> -->
            <form action="/delete_data" method="post">
                <button>Delete Account <img src="static\image\trash.png" alt="trash image"></button>
            </form>
        </div>     
    </div>  
{% endblock %}