{%extends "layout.html"%}
{% block title %}
    Log In
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="static\login.css"> 
{% endblock %}
{% block body%}
    <div class="login">
        <h1>Log In</h1>
        <form action="/" method="POST">
            <input type="text" name="username" autocomplete="off" autofocus placeholder="Name">
            
            <input type="password" name="password" autocomplete="off" autofocus placeholder="Password">           
            <button type="submit">Log In</button>
            <a href="{{ url_for('register') }}">
                Don't have account? SIGN UP 
            </a>
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}             
                    {% set category, message = messages[0] %}
                    {% if category == "error" %}
                        <div class="error" style="color: red;">
                            {{ message }}
                        </div>
                    {% else %}
                        <div class="success" style="color: green;">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endif %}
            {% endwith %}

        </form>
    </div>
{% endblock %}
