{%extends "layout.html"%}
{% block title %}
    Sign In
{% endblock %}
{% block body%}
    <div class="signin">
        <h1>SIGN IN</h1>
        <form action="/register" method="post">
            <h3>Name:</h3>
            <input autofocus autocomplete="off" name="name" type="text" placeholder="Name">
            <h3>:</h3>
            <input autofocus autocomplete="off" name="name" type="text" placeholder="Name">
            <h3>Name:</h3>
            <input autofocus autocomplete="off" name="name" type="text" placeholder="Name">
            <h3>Name:</h3>
            <input autofocus autocomplete="off" name="name" type="text" placeholder="Name">
            <h3>Name:</h3>
            <input autofocus autocomplete="off" name="name" type="text" placeholder="Name">
            <h3>Name:</h3>
            <input autofocus autocomplete="off" name="name" type="text" placeholder="Name">
            
        </form>
    </div>
{% endblock %}

